/*-----------------------------------------------------------------------------------------------------------------
ALLMÄNT
-----------------------------------------------------------------------------------------------------------------*/
*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(0,0,0);
}



/*-----------------------------------------------------------------------------------------------------------------
MENY
-----------------------------------------------------------------------------------------------------------------*/
header{
    width: 100%;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
}

nav{
    width: 100%;
}

#toggle{
    display: none;
}

.hamburger{
    margin-left: 5%;
    margin-right: 10px;
    float: left;
    font-size: 18px;
}

h1{
    font-size: 1.2em;
}

h1 span{
    font-weight: 100;
}

.menu{
    display: none;
}

.menu a{
    color: rgb(0,0,0);
    text-align: center;
    display: block;
    border-top: 1px solid rgb(0,0,0);
    line-height: 50px;
}

.menu a:hover{
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}

#toggle:checked ~ .menu{
    display: block;
}

@media only screen and (min-width: 730px){

    header{
        line-height: 90px;
        background-color: rgb(0, 0, 0);
        color: hsla(360, 100%, 100%, 1);
        border-bottom: 1px solid white;
    }

    nav{
        width: 90%;
        margin: 0 auto;
    }

    .hamburger{
        display: none;
    }

    h1{
        float: left;
    }

    .menu{
        display: block;
        text-align: right;
    }

    .menu li{
        display: inline-block;
        width: 7%;
    }

    .menu a{
        border: none;
        line-height: 40px;
        color: hsla(360, 100%, 100%, 1);
    }
}



/*-----------------------------------------------------------------------------------------------------------------
MAIN
-----------------------------------------------------------------------------------------------------------------*/
main{
    width: 100%;
}

.section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: table;
}

section div{
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 70px;
}

.cullinan{
    background-image: url(BilderSP/culinan.jpg);
}

.dawn{
    background-image: url(BilderSP/dawn.jpg);
}

.phantom{
    background-image: url(BilderSP/phantom.jpg);
}

@media only screen and (min-width: 730px){

    .section{
        width: calc(100%/3);
    }

    .video{
        width: 80%;
        margin: 0 auto;
    }

    .section div{
        font-size: 0;
    }

    .cullinan{
        float: left;
    }
    
    .dawn{
        float: right;
    }
}



/*-----------------------------------------------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------------------------------------------*/
footer{
    width: 100%;
    background-color: #101010;
    clear: both;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
}

footer ul{
    color: #555;
    width: 33%;
}

footer ul li{
    margin-top: 8px;
    font-size: 16px;
}

.footer-container ul li:first-child{
    font-weight: 900;
}

.list1{
    float: left;
}

.list2{
    float: right;
    text-align: right;
}

.list3{
    text-align: center;
    margin: 0 auto;
}

.social-media{
    width: 70%;
    margin: 40px auto 30px auto;
    clear: both;
    text-align: center;
    border-top: 2px solid #555;
    padding-top: 40px;
}

.social-media li{
    display: inline;
}

.social-media img{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}

.copyright{
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (min-width: 730px){

    footer{
        border: none;
    }

    .footer-container{
        width: 50%;
    }

    footer ul li{
        margin-top: 20px;
        font-size: 15px; 
    }

    .social-media{
        margin: 60px auto 40px auto;
        padding-top: 50px;
    }

    .copyright{
        padding-bottom: 10px;
    }
}
